@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
.property-negotiation {
  border: 1px solid #990099;
  border-bottom-color: #b444b4; }
  .property-negotiation .negotiation-comments .add-comments-trigger {
    background: #990099;
    margin-left: 30px; }
    @media screen and (max-width: 580px) {
      .property-negotiation .negotiation-comments .add-comments-trigger {
        margin-left: 0; } }
  .property-negotiation form.seller-will-accept {
    overflow: hidden;
    padding-left: 30px;
    position: relative; }
    @media screen and (max-width: 440px) {
      .property-negotiation form.seller-will-accept {
        padding-left: 0; }
        .property-negotiation form.seller-will-accept input[type="text"] {
          padding: 0 10px 0 25px; } }
