@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
.property-negotiation {
  border: 1px solid #990099;
  border-bottom-color: #b444b4; }
  .property-negotiation .negotiation-comments .add-comments-trigger {
    background: #990099;
    margin-left: 30px; }
