  /////////////////////////////////////////
 // LAYOUT ///////////////////////////////
/////////////////////////////////////////



// Main Content
main {
	overflow: hidden;
} // End Main

// Reusable container max-width set at PSDs width
.container {
	max-width: 901px;
	padding: 0;
	position: relative;
	
	&.inner {
		margin-bottom: 30px;
	} // End Inner

} // End Container

// Dashboard Module
.dashboard-module {
	@extend .container;
	padding: 0 39px 0 43px;
	margin-bottom: 25px;
	
	&:last-child { margin-bottom: 0; }
	
	// Smaller Halfsize Dashboard
	&.small {
		max-width: 435px;
		&:first-child {
			margin-right: 30px;
		}
	} // End Small Dashboard Module

	.lower {
		margin-bottom: 25px;
		overflow: hidden;
	} // End Lower Content

	.activity {
		.meta { 
			float: right; 
		    bottom: -5px;
		    position: relative;
		} // end Meta
		.item {
			color: $purple;
			display: inline-block;
		    font-size: 12px;
		    margin-right: 10px;
		    &:last-child { margin-right: 0; }
		} // End Meta Item
	} // End Response Activity

} // End Dashboard Module

// Content
.content {
	@extend .container;
	margin: 45px auto;
} // End Content Container

// Callout Title Bar
.title-container {
	border-bottom: 1px solid $dividerGrey;
	margin: 20px 0 25px;
	padding-bottom: 10px;

	h2 {
		color: $purple;
		font-weight: bold;
		font-size: 28px;
		line-height: 28px;
		margin: 0;
	}

} // End Title Container