  /////////////////////////////////////////
 // LAYOUT ///////////////////////////////
/////////////////////////////////////////



// Main Content
main { overflow: hidden; }

// Reusable container max-width set at PSDs width
.container {
	max-width: 901px;
	padding: 0;
	position: relative;

	&.inner {
		margin-bottom: 30px;
		padding: 0;
	} // End Inner Container
	
	// 768px Max Screen
	@include max-screen(768px){
		width: 100%;
	}

} // End Container

// Dashboard Module
.dashboard-module {
	@extend .container;
	padding: 0 39px 0 43px;
	margin-bottom: 25px;
	
	&:last-child { margin-bottom: 0; }
	
	// Smaller Halfsize Dashboard
	&.small {
		max-width: 435px;
		&:first-child {
			margin-right: 30px;
		}
	} // End Small Dashboard Module

	// 991px Max Screen
	@include max-screen(991px){
		padding: 0 25px;
		&.small {	
			margin: 0 0 25px;
			max-width: initial;
			width: 100%;
		} // End Small half dash
	}

	.lower {
		margin-bottom: 25px;
		overflow: hidden;
		// 767px Max Screen
		@include max-screen(767px){
			margin-bottom: 20px;
		}
	} // End Lower Content

	.activity {
		.meta { 
		    bottom: -5px;
			float: right; 
		    position: relative;
		    // 445px Max Screen
		    @include max-screen(445px){
				bottom: auto;
		    	float: none;
		    	margin-top: 5px;
		    }
		} // end Meta
		.item {
			color: $purple;
			display: inline-block;
		    font-size: 12px;
		    margin-right: 10px;
		    &:last-child { margin-right: 0; }
		} // End Meta Item
	} // End Response Activity

} // End Dashboard Module

// Content
.content {
	@extend .container;
	margin: 45px auto 0;
	
	// 768px Max Screen
	@include max-screen(768px){
	    max-width: 901px;
	    padding: 0 15px;
	    position: relative;
	    width: 100%;
	}

} // End Content Container