  //////////////////////////////////////////////////
 // VARIABLES & COLORS ////////////////////////////
//////////////////////////////////////////////////



// General
$white : #FFF;
$black : #000;

// Pallete
$red : #ed1c24;
$purple : #550066;
$brightPurple : #990099;
$blue : #00aeef;
$grey : #aaaaaa;

// Borders
$purpleBorder : #b444b4;
$greyBorder : #acacac;
$lightGreyBorder : #bdbdbd;
$mediumGreyBorder : #bbbbbb;

// Components
$headerBg : #f1f2f2;
$footerBg : #545353;
$footerText : #f0ffff;
$footerIcon : #bbbabb;

// Text
$greyText : #424242;