# dependencies
/node_modules

# testing
/coverage

# production
/build

# deployment
aerobatic.yml
aero-deploy.tar.gz

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

aero-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*