  //////////////////////////////////////////////
 // BUTTON ////////////////////////////////////
//////////////////////////////////////////////

@import '../../styles/_utility/mixins';
@import '../../styles/_base/vars';
@import '../../styles/_base/typography';



button {
	background: $grey;
	color: $white;
	border: none;
	border-radius: 6px;
	font-family: $arial;
	font-size: 15px;
	font-weight: 400;
	outline-offset: -5px;
	outline-width: 3px;
	padding: 3px 10px;
	text-transform: uppercase;
	text-align: center;
	transition: 0.3s ease-in;
	
	// 580px Max Screen
	@include max-screen(580px){
		font-size: 13px;
		padding: 4px 10px;
	}

	&:hover {
		background: lighten(#424242, 50);
	}

} // End Button