@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
.buyer-offer {
  border: 1px solid #a5a5a5;
  border-bottom-color: #bdbdbd; }
  .buyer-offer .offer-price {
    color: #000;
    display: block;
    margin-bottom: 20px;
    font-size: 28.28px;
    font-weight: 600; }
    .buyer-offer .offer-price .offer-terms {
      color: #424242;
      display: block;
      font-size: 11px;
      font-weight: 100;
      line-height: 11px;
      margin-top: 3px; }
