  //////////////////////////////////////////////
 // PROPERTY STATUSBAR ////////////////////////
//////////////////////////////////////////////

@import '../../styles/_utility/mixins';
@import '../../styles/_base/vars';
@import '../../styles/_base/typography';



.property-status-bar {
	color: $white;
	font-family: $sourceSansPro;
	font-size: 22px;
	font-weight: 400;
    line-height: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

	strong { font-weight: 600; }
	
	&.withdrawn {
		background: $red;
	}

	// 767px Max Screen
	@include max-screen(767px){
		font-size: 18px;
	    padding-bottom: 5px;
	    padding-top: 5px;
	}

} // End Property Status Bar