@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
.property-status-bar {
  color: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px;
  padding: 10px 39px 10px 43px; }
  .property-status-bar strong {
    font-weight: 600; }
  .property-status-bar.withdrawn {
    background: #ed1c24; }
